<section>
    <h2>Зачем такие пермены?</h2>
    <ul class="fragment">
        <li>AngularJS имел очень сложный API (directives)</li>
        <li>Медленный рендер</li>
        <li>Дублировал функционал, который приходил с ES2015</li>
        <li>Своей структурой не позволял добавить необходимые фичи (рендер на сервере)</li>
    </ul>
</section>
