<section>
    <h2>Angular 2 vs React</h2>
    <ul class="fragment">
        <li>Обе библиотеки "мыслят" компонентами</li>
        <li>React - это только View</li>
        <li>Angular 2 - это полноценный набор инструментов разработки:
            <ul>
                <li>Встроенный роутинг</li>
                <li>Фабрика для создания своих сервисов</li>
                <li>"Dirty check" между компонентами</li>
                <li>Встроенные http сервисы</li>
            </ul>
        </li>
    </ul>
</section>
