<section>
    <h2>Angular 2 основные компоненты</h2>
    <ul class="fragment">
        <li>Angular 2 это не вторая версия AngularJS</li>
        <li>Общего между ними только команда разработчиков</li>
        <li>AngularJS - это контроллеры, директивы, скоп, digest cycle</li>
        <li>Angular 2 - это компоненты</li>
    </ul>
</section>
