<section>
    <h2>Из чего собирается приложение на Angular 2</h2>
    <ul class="fragment">
        <li>zone.js</li>
        <li>rxjs</li>
        <li>reflect-metadata</li>
        <li>angular 2 components</li>
    </ul>
<pre class="fragment"><code>
    $ npm i --save angular2 reflect-metadata rxjs zone.js

</code></pre>
</section>
