<section>
    <h2>Service</h2>
    <ul class="fragment">
        <li>Три вида сервисов в AngularJS: Service, Provider, Factory</li>
        <li>В Angular 2 остался по сути только Service</li>
        <li>Сервисы по-прежнему подключаются по зависимости</li>
    </ul>
</section>


